/* .container {

} */

.quizes {
    width: 100%;
    padding: 0 5px;
}

.quizes-do-usuario {
    margin-top: 30px;
}

.todos-quizes {
    margin-top: 35px;
}

.titulo {
    justify-content: space-between;
    min-width: 340px;
    /* width: 100%; */
}

.quiz-cards {
    flex-direction: column;
}

.criacao {
    padding: 0 17px;
}

.criacao,
.informacoes-basicas-form {
    width: 100%;
    max-width: 600px;
}

.informacoes-basicas {
    padding: 0 17px;
    width: 100%;
}

.prosseguir {
    max-width: 324px;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
}

h2 {
    font-size: 20px;
    margin: 38px 0 30px 0;
}

.sucesso-quiz {
    width: 100%;
}

.sucesso-quiz h3 {
    font-size: 20px;
    line-height: 23px;
    margin-top: 50px;
}

.sucesso-quiz .quiz-card {
    width: 90%;
    height: 180px;
}

.header-quizz {
    height: 142px;
}

.header-quizz p {
    font-size: 19px;
}

.header-question p {
    font-size: 19px;
}

.image-question {
    width: 163px;
    margin-top: 12px;
}

.image-question img {
    width: 163px;
    height: 113px;
}

.image-question p {
    font-size: 13px;
}

.question-quizz {
    width: 100%;
    padding: 18px;
    margin-top: 42px;
}

.question-quizz:last-child {
    margin-bottom: 200px;
}